<a href="https://colab.research.google.com/github/ZZOHEIR/ZZOHEIR/blob/main/Copie_de_Python2step.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5
print (x)
print (type(x))
print(type (y))
y= True

5
<class 'int'>
<class 'bool'>

**Multiple Values to multiple variables**

In [ ]:
a = 5
b = 3.2
c = 'hello'
print (a)
print (b)
print (c)

5
3.2
hello

In [ ]:
a, b, c = 5, 3.2, 'hello'
print (a, b, c)

5 3.2 hello

In [ ]:
x = y = z = 'same'
print(x,y,z)
print (x)

same same same
same

In [ ]:
a = 5 ; b = 3.2 ; c = 'hello' #point virgule pour declarer des variables sur la meme ligne#
print(a,b,c)

5 3.2 hello

In [ ]:
#Ask the user for the city that they grow up
city = input ('where did you grow up ?')
#ask the user for the name of a pet
pet =  input ('whats your favorite pet ?')
#combine the name of their city and pet and show them their brand name
print ('City ' + '' + ' Pet')

where did you grow up ?
whats your favorite pet ?
City  Pet

**Convertion des types int string boolean float**

In [ ]:
print (float(5), type(float(5)))  # convertion de int vers float
print (str(5), type(str(5)))      # convertion de int vers str
print (bool(5), type(bool(5)))    # convertion de int vers boolean
print (bool(0), type(bool(0)))    # convertion de int = 0 vers boolean donne false

print (int(5.5), type(int(5.5)))  # convertion de float vers int
print (str(5.5), type(str(5.5)))  # convertion de float vers str
print (bool(5.5), type(bool(5.5)))  # convertion de float vers bool

print (int(True), type(int(True)))  # convertion de bool vers int
print (float(True), type(float(True)))  # convertion de Bool vers Float
print (str(True), type(str(True)))  # convertion de bool vers str

# print (int('Hello'), type(int('Hello'))) # convertion impossible de str vers int
print (float('55'), type(float('55')))  # convertion de str vers float possible avec des chiffres entre guillemets
print (bool('Bonjour'), type(bool('Bonjour')))  # Conversion de str vers bool
# print (float('Hello'), type(float('Hello')))  # convertion de str vers float impossible
print (int('55'), type(int('55')))  # convertion de str vers int possible avec des chiffres entre guillemets

5.0 <class 'float'>
5 <class 'str'>
True <class 'bool'>
False <class 'bool'>
5 <class 'int'>
5.5 <class 'str'>
True <class 'bool'>
1 <class 'int'>
1.0 <class 'float'>
True <class 'str'>
55.0 <class 'float'>
True <class 'bool'>
55 <class 'int'>

In [ ]:
Mynumber = 5    # convertion directement sur les variables
print (Mynumber, type(Mynumber))
Mynumber = float (Mynumber)
print (Mynumber, type(Mynumber))
Mynumber = str (Mynumber)
print (Mynumber, type(Mynumber))
Mynumber = bool (Mynumber)
print (Mynumber, type(Mynumber))

5 <class 'int'>
5.0 <class 'float'>
5.0 <class 'str'>
True <class 'bool'>

**Cas de False pour Boolean**

In [ ]:
x = None
print (bool(x), type(bool(x)) )
x = False
print (bool(x), type(bool(x)) )
x = 0.0
print (bool(x), type(bool(x)) )
x= []                            #liste
print (bool(x), type(bool(x)) )
x={}                             # disctionnaire
print (bool(x), type(bool(x)) )
x=()                             # sequence
print (bool(x), type(bool(x)) )

False <class 'bool'>
False <class 'bool'>
False <class 'bool'>
False <class 'bool'>
False <class 'bool'>
False <class 'bool'>

Somme de deux str (en **convertion**) **texte en gras**

In [ ]:
#ask the user to enter two numbers
#convert the inputs to integer and add them together
Number1 = input('Enter the first number')
Number2 = input('Enter the second number')
Sum_Numbers = int (Number1) + int (Number2)
print ('The sum of the two numbers is  ' ,  Sum_Numbers)

Enter the first number8
Enter the second number12
The sum of the two numbers is   20

In [ ]:
mystring = 'Welcome to Python'
# print (Mystring)  donne une erreur
mystring[9]  # renvoie le caractere num 9
len(mystring) # longueur de la phrase 0 compris

17

**Arithmetic operation**

In [ ]:
print ('Addition', 2+20.45)
print ('Sustraction', 5-2)
print ('Multiplication', 7*8)
print ('Division', 70/8)
print ('Modulus', 6%4) # reste de la division
print ('Floor Division', 70 // 8) # resultat sans la virgule
print ('Exponentiation', 7**2) # exponentiel

Addition 22.45
Sustraction 3
Multiplication 56
Division 8.75
Modulus 2
Floor Division 8
Exponentiation 49

**Multi line statment**

In [ ]:
a = 5+7+10+4+12
a = 5 + 7 + \
10 + 4 + \
12
a = (5 + 7 +
10 + 4 +
12)

38

## **Logical operator **

In [ ]:
x=2
y=4
#x=y # affecte valeur de y a x
print (x==y)  # donne un resultat si vrai ou faux
print (x!=y)
print (x<y)
print (x>y)
print (x<=y)
print (x>=y)

False
True
True
False
True
False

In [ ]:
x = 'apple'
y = 'banana'
print (x==y)
print (x!=y)
print (x<y)
print (x>y)
print (x<=y)
print (x>=y)

False
True
True
False
True
False

AND OR NOT tables de verite

In [ ]:
x = 8
print (x < 5 and x < 10)
print (x < 5 or x < 10)
print (not(x < 5 or x < 10))
print (not(x < 5 and x < 10))
print (not x < 5 and x < 10)
print (not x < 5 or x < 10)
print(not not x)
#Bitwise operator
print (x < 5 & x < 10)
print (x < 5 | x < 10)

False
True
False
True
True
True
True
False
False

In [ ]:
#check if a is greater than 10 and (b is less than 30 or c is equal to 5)
a = 15
b = 25
c = 5
result = (a>10) and (b<30) or (c==5)
print (result)

True

In [ ]:
k = [1,2]
x = 3
print(x in k)
print(x not in k)
txt = 'Python is free'
print ('free' in txt)
print ('p' in txt)
print ('z' in txt)
print ('y' in txt)

False
True
True
False
False
True

In [ ]:
print(8/3)
print(8//3)        # donne le resultat int
print(round(8/3))  #arrondi
print(4+5+6)


result =4+2
print (result)
result = result + 2
result +=2   # abreviation de result = result + 2
print (result)
result -=2   # abreviation de result = result - 2
print (result)
result *=2   # abreviation de result = result * 2
print (result)
result /=5   # abreviation de result = result / 5
print (result)

print (round(result))

2.6666666666666665
2
3
15
6
10
8
16
3.2
3

In [ ]:
score = 15
print ('your score is ', score )
print ('your score is ' + str(score) ) # conversion en str
# F-string
print (f'your score is {score}')  # avec cette fonction, vous pouvez abreger l^ecriture

your score is  15
your score is 15
your score is 15

In [52]:
age = 47
age_futur = 90
reste_a_vivre = age_futur - age

reste_a_vivre_mois = reste_a_vivre * 12
reste_a_vivre_semaines = reste_a_vivre * 52
reste_a_vivre_jours = reste_a_vivre * 365

print(f"Il vous reste {reste_a_vivre} ans à vivre jusqu'à {age_futur} ans.")
print(f"Ce qui équivaut à environ {reste_a_vivre_mois} mois.")
print(f"Ou environ {reste_a_vivre_semaines} semaines.")
print(f"Ou environ {reste_a_vivre_jours} jours.")

Il vous reste 43 ans à vivre jusqu'à 90 ans.
Ce qui équivaut à environ 516 mois.
Ou environ 2236 semaines.
Ou environ 15695 jours.

In [61]:
two_digit_number = input ('enter the number')   # entrer un chiffre
print (two_digit_number)                        # affichage du chiffre entre
print (type(two_digit_number))                  # afficher type du chiffre
First_digit_number = two_digit_number[0]
second_digit_number = two_digit_number[1]
print (type(First_digit_number))
print (type(second_digit_number))

print (First_digit_number)
print (second_digit_number)

result = First_digit_number + second_digit_number
print (result)
First_digit_number = int(First_digit_number)
second_digit_number = int(second_digit_number)
result = First_digit_number + second_digit_number
print (result)

enter the number39
39
<class 'str'>
<class 'str'>
<class 'str'>
3
9
39
12

In [77]:
a = 'Hello, World, !'
print(a.upper())
print(a.lower())
print(a.strip()) # supprimme lespace avant et apres les string
print(a.replace('l', 'J')) # remplace tous les l en J
print(a.split(',')) # liste de mots selon le separateur
print(a.find('o'))

HELLO, WORLD, !
hello, world, !
Hello, World, !
HeJJo, WorJd, !
['Hello', ' World', ' !']
4

In [76]:
txt = "Hello \"world of Python\"" # pour garder les guillemets \ pour chaque guillemet
print (txt)

Hello "world of Python"