<a href="https://colab.research.google.com/github/ZZOHEIR/ZZOHEIR/blob/main/Python1ststep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
x = 5
print (x)
print (type(x))
print(type (y))
y= True

5
<class 'int'>
<class 'bool'>

**Multiple Values to multiple variables**

In [3]:
a = 5
b = 3.2
c = 'hello'
print (a)
print (b)
print (c)

5
3.2
hello

In [5]:
a, b, c = 5, 3.2, 'hello'
print (a, b, c)

5 3.2 hello

In [2]:
x = y = z = 'same'
print(x,y,z)
print (x)

same same same
same